<html>
    <head>
        <title>Scheduling App</title>
    </head>
    <body>
        <h1>Scheduling App</h1>
        
        <table>
            <tr>
                <th>Task Name</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            {% for task in tasks %}
            <tr>
                {% for row in task %}
                <td>{{ row }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>


    
    </body>
</html>